admin/node_modules/*
C:\Users\Gaby\Documents\Bippa\ippa\admin\node_modules
C:\Users\Gaby\Documents\Bippa\ippa\admin\node_modules
admin\.next\dev
.env
/.npm-cache/
/node_modules/
js
sockets
backend/db/certs